/* .main {
  margin: 0 auto;
  width: 90%;
  align-content: space-around;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 1fr 0.2fr;
  gap: 10px;
  align-items: center;
}

.headline {
  font-style: Bold;
  font-size: 7em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #79ac53;
  margin: 3rem 0 3rem;
  text-align: center;
}

.image {
  position: relative;
  height: 100%;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  align-self: center;
  justify-self: center;
}

.underheadline {
  font-size: 2em;
  font-weight: bold;
  color: #79ac53;
  -webkit-text-fill-color: #79ac53;
}

.left {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 45ch;
}

.outerImage {
  height: 450px;
}

.text {
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
  color: rgb(13, 13, 13);
  margin: 10px 0;
}

.underheading {
  font-size: 1.5em;
  font-weight: bold;
  color: #79ac53;
  -webkit-text-fill-color: #79ac53;
}

.credits {
  font-size: 0.7em;
  line-height: 1.5;
  text-align: left;
  color: rgb(13, 13, 13);
  margin: 0;
  text-align: center;
}

.members {
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
  color: rgb(13, 13, 13);
  margin: 10px 0;
} */

/* Make the page responsive */
/* @media (max-width: 600px) {
  .headline {
    font-size: 1.5em;
  }

  .underheadline {
    font-size: 1.25em;
  }

  .text {
    font-size: 0.9em;
  }

  .underheading {
    font-size: 1em;
  }

  .members {
    font-size: 0.9em;
  }
} */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 100px 1rem;
  background-image: url(/1555186463.svg);
  background-position: -100% bottom;
  background-repeat: repeat-x;
  background-size: 75%;
}

.back {
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-start;
  left: 1rem;
}

.back:hover {
  text-decoration: underline;
}

.headline {
  font-style: Bold;
  font-size: 7rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #79ac53;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  max-width: 1000px;
  align-items: center;
}

.grid h2 {
  color: #79ac53;
  margin: 0;
}

.image {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #2a2a48;
  border-radius: 1rem;
  overflow: hidden;
  color: rgb(242, 242, 242);
  border: 3px solid #37395f;
}

.image p {
  padding: 0.5rem 1rem;
  margin: 0;
  word-break: break-all;
}

.bio {
  text-align: justify;
}

.members {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.member {
  background-color: #37395f;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 600px) {
  .headline {
    font-size: 3.5rem;
    -webkit-text-stroke: 2px #79ac53;
  }
}
