.h1 {
  font-weight: bold;
  font-size: 6rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #79ac53;
  margin: 2rem 0 3rem;
}

.main {
  padding: 100px 1rem;
  background-image: url(/1555186463.svg);
  background-position: bottom;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .h1 {
    font-style: Bold;
    font-size: 3em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #79ac53;
    margin: 1rem 0 0.5rem;
  }

  .collapsegroup {
    max-width: 85%;
  }

  .wrapper {
    height: 75vh;
  }
}

@media (max-height: 700px) {
  .wrapper {
    height: 100vh;
  }
}
