.contactForm {
  display: grid;
  grid-template-columns: minmax(300px, 1200px);
  gap: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 85vh;
}

.h1 {
  font-style: Bold;
  font-size: 100px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #79ac53;
  margin: 2rem 0 3rem;
}

.divGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
