.button {
  transition: 350ms;
  transform: scale(0.9);
  opacity: 0.5;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  right: 1rem;
  background: #72a24e;
  padding: 1rem;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: white;
}

.button:hover {
  transform: scale(1);
  opacity: 1;
}

.menu {
  z-index: 1000;
  /* transform: translateX(100%); */
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25vw;
  box-sizing: border-box;
  min-width: 400px;
}

.menu.close {
  transform: translateX(100%);
}
