.button {
  transform: scale(0.9) translate(150%);
  opacity: 0.5;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  right: 1rem;
  background: #72a24e;
  padding: 1rem;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  z-index: 900;
  transition: 350ms;
}

.button.close {
  transition: 350ms;
  transform: scale(0.9) translate(0);
}

.button.close:hover {
  transform: scale(1) translate(0);
  opacity: 1;
}

.menu {
  padding: 0 1rem 1rem;
  z-index: 1000;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25vw;
  box-sizing: border-box;
  min-width: 400px;
  transition: 1s;
  transition-delay: 50ms;
  display: flex;
  flex-direction: column;
  transform-origin: bottom;
  gap: 1rem;
}

.menu.close {
  transform: translateX(100%);
  transition-delay: 0;
}

.close_btn {
  background-color: #72a24e;
  padding: 0.25rem;
  border-radius: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 1rem;
}

.ticket,
.button_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.ticket p {
  margin: 0;
}

.ticket_amount {
  width: 2ch;
  text-align: center;
  border: none;
  background: none;
  color: black;
  font-size: 1rem;
}

.button_wrapper button {
  background: #72a24e;
  border: none;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  color: white;
  text-align: center;
  font-size: large;
}

.info_type {
  text-transform: uppercase;
  color: #72a24e;
  margin: 0;
}

.collapse {
  padding: 0;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 3rem;
}

.cart {
  background-color: lightgray;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  align-self: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.cart ul {
  list-style-type: circle;
}

.cart > * {
  margin: 0;
}

.info {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 100vw;
    min-width: 0;
  }
  .button {
    transform: scale(1);
    opacity: 1;
  }
  .cart {
    bottom: 3.5rem;
    width: 100%;
    cursor: pointer;
  }
  .cart.close {
    position: fixed;
    left: 1rem;
    right: 1rem;
    width: fit-content;
    left: unset;
    opacity: 0.7;
  }
  .cart.close ul {
    display: none;
  }
}
