html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  -webkit-text-stroke: red 4px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 10rem;
  font-weight: 700;
}
