body {
  padding: 0;
  margin: 0;
  background-color: #37395f;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
  min-height: 100vh;
}

a {
  color: #79ac53;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 3rem;
}

footer {
  background-color: #2a2a48;
}

/* SCHEDULE */

.act {
  display: flex;
  justify-items: center;
}

.dayPicker {
  overflow: hidden;
  display: inline-flex;
  gap: 2rem;
}

.dayPicker h2 {
  -webkit-text-stroke: #72a24e 1.5px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
}

/* NextUI fixes */

.nextui-collapse-content > div {
  padding: 0 0.5rem;
}

/* ACTIVE SCHEDULE */
.active {
  -webkit-text-fill-color: #79ac53;
  color: #79ac53;
}

/* input fields */
#error {
  color: red;
  border: solid red 2px;
}
