body {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #37395f;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  -webkit-text-stroke: #72a24e 4px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 10rem;
  font-weight: 700;
}

.spot_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

form {
  margin: 1rem 0;
}

.ticket {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.ticket p {
  margin: 0;
}

.schedule_grid {
  margin: 0 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.schedule_grid h2 {
  font-size: 1rem;
}

.schedule_act {
  outline: 2px solid #72a24e;
}
