.header {
  height: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 100px;
  box-sizing: border-box;
}

.burger_wrapper {
  --burger-height: 2rem;
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
  height: var(--burger-height);
  aspect-ratio: 1.25/1;
  justify-content: center;
  align-items: center;
}

.hamburger {
  background: #79ac53;
  width: 100%;
  height: 4px;
  position: relative;
  transition: background 10ms 300ms ease;
}

.hamburger::before,
.hamburger::after {
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  position: absolute;
  background: #79ac53;
  width: 100%;
  height: 4px;
  content: "";
}

.hamburger::before {
  top: calc(var(--burger-height) / -2 + 2px);
}

.hamburger::after {
  top: calc(var(--burger-height) / 2 - 2px);
}

.hamburger.open {
  background: transparent;
}

.hamburger.open::before,
.hamburger.open::after {
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  top: 0;
}

.hamburger.open::before {
  transform: rotate(45deg);
}

.hamburger.open::after {
  transform: rotate(-45deg);
}

.menu {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgb(0, 0, 0);
  transition: opacity 0.5s ease-in-out;
}

.menu.close {
  opacity: 0;
  pointer-events: none;
}

.menu.open {
  opacity: 100;
}

.menu_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.menu_links a {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #79ac53;
}

.menu_links a:hover,
.menu_links a.active {
  -webkit-text-fill-color: #79ac53;
}
