.splash {
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  z-index: -1;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: cover;
  height: 380px;
}

.splashGroup {
  width: 100%;
  min-height: 100vh;
  padding: 100px 1rem;
  background-image: url(/treelines.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
}

.splash_titles {
  display: flex;
  word-break: break-word;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.splash_titles h2 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 2.7em;
  line-height: 0.97em;
  -webkit-text-stroke: 1.5px #72a24e;
  -webkit-text-fill-color: transparent;
  margin: 0;
  text-align: center;
}

.splash_calltoaction {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 400px;
  gap: 1.5rem 1rem;
}

.calltoaction {
  box-sizing: border-box;
  align-items: center;
  padding: 16px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  flex: 1;
  min-width: fit-content;
  max-width: 200px;
  border: 2px solid #72a24e;
  color: #72a24e;
}
.calltoaction:first-child {
  background-color: #72a24e;
  border: 2px solid #72a24e;
  color: #f2f2f2;
}
.calltoaction:first-child:hover {
  border: 2px solid #f2f2f2;
}
.calltoaction:hover {
  border: 2px solid #f2f2f2;
  background-color: #72a24e;
  color: #f2f2f2;
}

/* Make the page responsive */
@media (max-width: 600px) {
  .splash_titles {
    word-break: break-word;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .splash_titles h2 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 1.7em;
    line-height: 0.97em;
    -webkit-text-stroke: 0.08rem #72a24e;
    text-align: center;
  }

  .calltoaction {
    padding: 16px 24px;
    border-radius: 3px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;

    border: 2px solid #72a24e;
    color: #72a24e;
  }

  .calltoaction:first-child {
    border: 2px solid #72a24e;
    background-color: #72a24e;
    color: #f2f2f2;
  }

  .splash {
    top: 55%;
    height: 100%;
    height: 350px;
  }
}
