.daypicker {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow-y: auto;
}
.daypicker::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.daypicker {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.daysbtn {
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #79ac53;
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.5rem 0rem;
}

.daysbtn:first-child {
  padding-left: 50vh;
}

.daysbtn:hover,
.daysbtn:active {
  -webkit-text-fill-color: #79ac53;
}

.schedule_grid {
  display: grid;
  grid-template-columns: 0.8fr, repeat(3, 300px);
  grid-template-rows: repeat(13, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin: 3rem;
}

.div1 {
  grid-area: 2 / 2 / 14 / 3;
}
.div2 {
  grid-area: 2 / 3 / 14 / 4;
}
.div3 {
  grid-area: 2 / 4 / 14 / 5;
}
.div4 {
  grid-area: 1 / 2 / 2 / 3;
}
.div5 {
  grid-area: 1 / 3 / 2 / 4;
}
.div6 {
  grid-area: 1 / 4 / 2 / 5;
}
.div7 {
  grid-area: 2 / 1 / 3 / 2;
}
.div8 {
  grid-area: 3 / 1 / 4 / 2;
}
.div9 {
  grid-area: 4 / 1 / 5 / 2;
}
.div10 {
  grid-area: 5 / 1 / 6 / 2;
}
.div11 {
  grid-area: 6 / 1 / 7 / 2;
}
.div12 {
  grid-area: 7 / 1 / 8 / 2;
}
.div13 {
  grid-area: 8 / 1 / 9 / 2;
}
.div14 {
  grid-area: 9 / 1 / 10 / 2;
}
.div15 {
  grid-area: 10 / 1 / 11 / 2;
}
.div16 {
  grid-area: 11 / 1 / 12 / 2;
}
.div17 {
  grid-area: 12 / 1 / 13 / 2;
}
.div18 {
  grid-area: 13 / 1 / 14 / 2;
}
