.main {
  padding: 100px 1rem;
  background-image: url(/1555186463.svg);
  background-position: -100% bottom;
  background-repeat: repeat-x;
  background-size: 75%;
}

.daypicker {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow-y: auto;
}
.daypicker::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.daypicker {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.daysbtn {
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #79ac53;
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.5rem 0rem;
}

.daysbtn:first-child {
  padding-left: 50vh;
}
.daysbtn:last-child {
  padding-right: 50vh;
}

.daysbtn:hover,
.daysbtn:active {
  -webkit-text-fill-color: #79ac53;
}

.linkHere {
  color: #79ac53;
  -webkit-text-fill-color: #79ac53;
  font-size: 2rem;
}

.breakTime {
  color: #79ac53;
  -webkit-text-fill-color: #79ac53;
  font-size: 2rem;
}

.h1 {
  font-style: Bold;
  font-size: 8em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #79ac53;
  margin: 2rem 0 0rem;
  text-align: center;
}

.h2underheader {
  font-style: Bold;
  font-size: 2em;
  -webkit-text-fill-color: #79ac53;
  margin: 2rem 0 0;
  text-align: center;
}

/* NEW GRID */
.gridWrapper {
  display: flex;
  justify-content: center;
}

.new_grid {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
  gap: 1rem;
  max-width: 1000px;
  overflow-x: auto;
}

.new_grid h3 {
  font-size: 2rem;
  color: #79ac53;
  text-align: center;
}

.new_grid h2 {
  margin: 0;
}

.hidden {
  opacity: 0;
}

.new_oneScheduleActs,
.new_times {
  display: grid;
  grid-auto-rows: 1fr 0.5fr;
  gap: 1rem;
}

.new_act {
  background-color: rgba(122, 172, 83, 0.1);
  color: #79ac53;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.new_act h2,
.new_break h2 {
  font-size: 1.25rem;
}

.new_break {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.new_break_line {
  background-color: #79ac53;
  height: 3px;
  width: 100%;
}

.new_times {
  background: none;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: #79ac53 2px;
  font-size: 2rem;
  display: grid;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/* Make the page responsive */
@media (max-width: 600px) {
  .main {
    background-position: center bottom;
    background-size: cover;
  }
  .h1 {
    font-size: 4rem;
    -webkit-text-stroke: #79ac53 2px;
  }
  .daysbtn h3 {
    font-size: 2rem;
  }
  .daysbtn:first-child,
  .daysbtn:last-child {
    padding-left: 0;
    padding-right: 0;
  }
  .new_times {
    font-size: 1.5rem;
    -webkit-text-stroke: #79ac53 1px;
  }
  .new_act h2 {
    font-size: 1rem;
  }
  .linkHere {
    color: #79ac53;
    -webkit-text-fill-color: #79ac53;
    font-size: 1rem;
  }
}
